---
export const prerender = false;
import Layout from "../layouts/Layout.astro";
// import { Image } from "astro:assets";
// import fiveTen from "../images/5-10.jpg";
import Title from "../components/Title.astro";

let submitted = false;

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const name = data.get("name");
    const email = data.get("email");
    const message = data.get("message");

    const resp = await fetch("https://api.mailchannels.net/tx/v1/send", {
      method: "POST",
      headers: {
        "content-type": "application/json"
      },
      body: JSON.stringify({
        personalizations: [
          {
            to: [{ email: "coisirlunnainn@gmail.com", name: "Còisir Lunnainn" }]
          }
        ],
        from: {
          email: "sender@coisirlunnainn.dev",
          name: "Còisir Lunnainn Contact Form"
        },
        subject: "New Message Received",
        content: [
          {
            type: "text/plain",
            value: `A new message has been received on the Còisir Lunnainn website:

Name: ${name}
Email: ${email}
Message: ${message}
`
          },
          {
            type: "text/html",
            value: `<p>A new message has been received on the Còisir Lunnainn website:</p>

<p><b>Name:</b> ${name}</p>
<p><b>Email:</b> ${email}</p>
<p><b>Message:</b> ${message}</p>
`
          }
        ]
      })
    });

    const respText = await resp.text();

    console.log(
      "Email contact",
      resp.status + " " + resp.statusText + "\n\n" + respText
    );
    submitted = true;
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<Layout title="Contact">
  <main>
    <section class="grid items-end h-32">
      <!-- <Image
        src={fiveTen}
        alt="Choir Logo"
        quality="max"
        densities={[2]}
        class="w-full row-start-1 col-start-1 object-cover h-64"
      />-->
      <div
        class="text-center mt-6 flex flex-col gap-4 max-w-[70ch] mx-auto bg-white row-start-1 col-start-1 p-10"
      >
        <Title>Contact Us</Title>
      </div>
    </section>
    <section class="mt-12 max-w-[70ch] mx-auto">
      <form class="w-full" name="contact" method="POST">
        <div class="w-full px-3 mb-6">
          <label class="block text-gray-700 text-lg mb-2" for="name">
            What's your name?
          </label>
          <input
            class="appearance-none block w-full bg-gray-200 text-gray-700
                  border-2 border-gray-200 rounded py-3 px-4 mb-3 leading-tight
                  focus:outline-none focus:bg-white focus:border-gray-500"
            name="name"
            type="text"
            placeholder="Margrat Duncan"
          />
        </div>
        <div class="w-full px-3 mb-6">
          <label class="block text-gray-700 text-lg mb-2" for="email">
            What's your email?
          </label>
          <input
            class="appearance-none block w-full bg-gray-200 text-gray-700
                  border-2 border-gray-200 rounded py-3 px-4 mb-3 leading-tight
                  focus:outline-none focus:bg-white focus:border-gray-500"
            name="email"
            type="email"
            placeholder="margrat.duncan@example.com"
            required
          />
        </div>

        <div class="w-full px-3 mb-6">
          <label class="block text-gray-700 text-lg mb-2" for="message">
            What's your message?
          </label>
          <textarea
            class="appearance-none block w-full bg-gray-200 text-gray-700
                  border-2 border-gray-200 rounded py-3 px-4 mb-3 leading-tight
                  focus:outline-none focus:bg-white focus:border-gray-500
                  resize-none h-32"
            name="message"
            placeholder="I'd like to join the choir/I'd like to invite the choir to sing at an event etc..."
            required></textarea>
        </div>

        <div class="w-full px-3 mb-6 mt-8 flex">
          <button
            type="submit"
            class="bg-black cursor-pointer
                  appearance-none block rounded py-3 px-4 leading-tight flex-grow focus:outline-none
                  text-center font-bold text-white"
            >Submit</button
          >
        </div>
        {
          submitted ? (
            <p class="text-lg text-center">We'll be in touch soon!</p>
          ) : null
        }
      </form>
    </section>
  </main>
</Layout>

<style></style>
